@import "~SCSS/variables";
@import "~SCSS/mixins";
.page-course-list {
  .zikebackend-table-header {
    th {
      background: #f4f4f4;
    }
  }
  .el-table__body {
    img {
      width: 74px;
      display: block;
    }
  }
  .img-box {
    margin-right: 15px;
  }
  .flex-box {
    display: flex;
    position: relative;
  }
  .content {
    flex-grow: 1;
    text-align: left;
    position: relative;
    > div {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .limit-row-num {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: #354048;
      font-size: 14px;
      line-height: 1.4;
    }
  }
  .el-table {
    .deleted-row {
      background:rgba(248,250,251,1);
    }
  }
  .deleted {
    background:rgba(248,250,251,1);
  }
  .el-select .el-input {
    width: 130px;
  }
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }
  .header {
    margin: 30px 0;
  }
  .el-pagination {
    margin: 30px 0;
  }
  .zike-popper {
    position: relative;
  }
  .zike-popper > .el-icon-question {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    color: #909399 !important;
  }
  .zike-poppe .el-icon-arrow-down {
    transition: all ease .5s;
  }
  .zike-popper .rotate {
    transform: rotate(180deg);
  }
  .action-zone {
    text-align: right;
  }
}
.el-table-filter__list {
  li {
    &:first-child{
      display: none;
    }
  }
}