@import "~cropperjs/dist/cropper.min.css";
#member-post {
  background: white;
  .el-form {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .quanzhong-row {
    input{
      text-align: left;
    }
  }
  .limit-width {
    width: 100%;
  }
  .el-icon-question {
    color: rgba(214,214,214,1);
  }
  .walk-title {
    font-size: 16px;
    line-height: 1;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(220,223,230,1);
    font-size: 20px;
    margin: 40px 44px 30px 0px;
  }
  .customize-html-content {
    flex-grow: 1;
    overflow: hidden;
  }
  .course-type-list {
    margin-top: 20px;
    .tips {
      color: #666;
      font-size: 12px;
      margin: 30px 0 0 16px;
    }
    .set{
      cursor: pointer;
      color: #4080AD;
    }
    .add-type {
      cursor: pointer;
      color: #4080AD;
      font-size: 14px;
    }
  }
  .organizations-type-list {
    margin: 20px 0px 18px 16px;
    .tips {
      color: #666;
      font-size: 12px;
      margin: 30px 0 0 0;
    }
    .set{
      cursor: pointer;
      color: #4080AD;
    }
  }
  .menber-compulsory-type-list {
    margin: 20px 18px 18px;
    .search-bar {
      border-radius: 4px;
      border: 1px solid rgba(220,223,230,1);
      box-sizing: border-box;
      color: #606266;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
      transition: border-color .2s cubic-bezier(.645,.045,.355,1);
      width: 465px;
      position: relative;
      overflow: hidden;
      margin-bottom: 25px;
      input {
        width: 100%;
        height: calc(100% - 2px);
        position: absolute;
        left: 0;
        top: 0;
        outline: none;
        border: none;
        display: block;
        box-sizing: border-box;
        padding: 0 10px;
      }
      span {
        width: 40px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        outline: none;
        border: none;
        display: block;
        box-sizing: border-box;
        padding: 0 10px;
        text-align: center;
        cursor: pointer;
      }
    }
    .el-button {
      width: 128px;
      padding: 10px 20px;
      margin: 0px 16px 16px 0px;
    }
  }
  .el-radio {
    margin: 10px 40px 10px 14px;
  }
  .el-checkbox {
    margin-top: 10px !important;
    margin-left: 0px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
  }
  .selected-item {
    font-size: 12px;
    font-weight: 400;
    color: rgba(146,146,146,1);
    line-height: 40px;
    margin-bottom: 15px;
    overflow: hidden;
    span {
      background:rgba(248,248,248,1);
      border-radius:4px;
      border:1px solid rgba(220,220,220,1);
      display: inline-block;
      line-height: 1;
      padding: 4px 8px;
      font-size: 12px;
      color:rgba(0,0,0,0.65);
      margin-right: 8px;
      i{
        margin-left: 5px;
      }
    }
  }
  .img-box {
    img {

    }
  }
}
.header {
  margin: 30px 0;
}
.el-checkbox {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 10px !important;
  margin-right: 10px !important;
}
.el-checkbox__label {
  width: 100px;
}
.menber-list {
  margin-top: 30px;
}
.footer-button {
  margin: 40px 0;
  button {
    width: 120px;
  }
}



.customize-html-content {
    flex-grow: 1;
    overflow: hidden;
  }
.groupList-type-list {
  margin: 20px 0px 18px 16px;
  .tips {
    color: #666;
    font-size: 12px;
    margin: 30px 0 0 0;
  }
  .set{
    cursor: pointer;
    color: #4080AD;
  }
  .el-button {
    //width: 128px;
    padding: 10px 38px;
    margin: 0px 16px 16px 0px;
  }
}

.avatar_blo {
  position: relative;
  width: 96px;
  height: 96px;
  margin-bottom: 16px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.zike-btn-active-selected {
    background:rgba(255,226,102,0.2);
    border-radius:4px;
    font-size:14px;
    font-weight:400;
    color:#D7AB70;
    border-color: #EDEDED;
  }

  .zike-btn-selected {
    background:rgba(237,237,237,1);
    border-radius:4px;
    font-size:14px;
    font-weight:400;
    color:rgba(146,146,146,1);
    border-color: rgba(237,237,237,1);
  }


.deleteBtn {
  border-radius:4px;
  border:1px solid rgba(220,220,220,1);
  background: #ffffff;
  font-family:PingFangSC-Regular;
  color:rgba(146,146,146,1);
}
.passwordTitle {
  font-size:16px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(53,64,72,1);
  line-height:24px;
  margin-bottom: 10px;
}
.dialog-hd {
  margin-left: 0;
}
.pw_input {
  border:1px solid rgba(255,52,52,1);
  border-radius: 4px;
  box-sizing: border-box;
}
.pw_hint {
  font-size:12px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(255,52,52,1);
  line-height:20px;
  margin-left: 18px;
}
@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
.upload-error-tips {
  width:0;
  height:0;
  background:rgba(237,237,237,1);
  border-radius:4px;
  vertical-align: middle;
  margin-right: 16px;
  transition: all ease .4s;
  position: relative;
  margin: 16px 0;
  transform: scale(0);
  transform-origin: 100% 100%;
  .tips {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    font-size: 12px;
    color:rgba(146,146,146,1);
  }
  p {
    line-height: 1.5;
    margin: 0;
    text-align: center;
    width: 100%;
  }
}
.upload-error-tips-show {
  transform: scale(1);
  width:96px;
  height:96px;
}


