@import "~COLORS/variables";
#x-plus {
  .offset-left {
    margin-left: 198px;
    min-width: 1240px;
    position: relative;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pages {
  overflow: hidden;
  margin: 22px;
  padding: 20px 56px;
  position: relative;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1000px;
  min-height: calc(100vh - 104px);
}
.zike-breadcrumb {
  margin: 16px 0;
  font-size: 16px;
  position: relative;
  .el-breadcrumb__item {
    float: unset;
    vertical-align: middle;
    font-size: 16px;
  }
  &:before {
    content: '';
    height: 100%;
    width:6px;
    height:16px;
    background:rgba(255,226,102,1);
    display: inline-block;
    margin-right: 10px;
    float: left;
  };
  .el-breadcrumb__inner {
    color: #354048 !important;
  }
  .el-breadcrumb__inner.is-link {
    color: #BCBCBC !important;
    font-weight: 300;
    &:hover {
      color: #D7AB70 !important;
    };
  }
}
.page-position {
  font-size: 16px;
  color: #000;
  line-height: 1;
  position: relative;
  margin: 16px 0;
  &:before{
    content: '';
    height: 100%;
    width:6px;
    height:16px;
    background:rgba(255,226,102,1);
    display: inline-block;
    margin-right: 10px;
    float: left;
  };
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .4s;
  transform: translate3d(0, 0, 0);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}


.el-button--primary{
  color: #354048 !important;
}

.el-checkbox__inner {
  border-radius: 50% !important;
}

.common-btn {
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  border: 1px solid #DCDCDC;
  color: #666666;
  //color: #354048;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  background-color: transparent;
  margin-right: 8px;
  min-width: 128px;
  outline: unset;
  margin: 0px 16px 16px 0px;
  border-radius: 4px;
  &:hover{
    background: rgba(255, 226, 102, 0.2);
    font-size: 14px;
    font-weight: 400;
    color: #D7AB70;
    border-color: #EDEDED;
  };
}
.common-btn-active {
  background: rgba(255, 226, 102, 0.2);
  font-size: 14px;
  font-weight: 400;
  color: #D7AB70 !important;
  border-color: #D7AB70;
}

.common-checkbox {
  font-size:14px;
  font-weight:400;
  color:rgba(102,102,102,1);
  display: inline-block;
  margin: 10px 30px 10px 0px;
  cursor: pointer;
  i{
    padding-right: 10px;
    font-size: 14px;
  }
  span{
    min-width: 70px;
    display: inline-block;
  }
}
.common-checkbox-active{
  font-size:14px;
  font-weight:400;
  color:rgba(215,171,112,1);
}

.el-dropdown-menu__item:hover{
  background: #FFF9D9 !important;
  color: #D7AB70 !important;
}

.btn-limit-width {
  width: 124px;
}

.dashboard-popper{
  max-width: unset;
}

.el-message-box__wrapper{
  .el-message-box__title {
    font-size:16px;
    font-weight:500;
    color:rgba(53,64,72,1);
  }
  .el-message-box__message{
    p{
      font-size:14px;
      font-weight:400;
      color:354048;
      line-height:22px;
    }
  }
  .el-message-box{
    padding-bottom: 24px;
  }
  .el-message-box__header{
    padding: 32px 32px 0px 32px;
    color: #354048;
  }
  .el-message-box__content{
    padding: 10px 32px;
  }
  .el-message-box__btns{
    padding: 5px 32px 0px;
  }
}

.el-picker-panel__footer{
  .el-button--default{
    background-color: #ffe266;
    border-color: #ffe266;
    color: #354048!important;
    &:hover{
      background-color: #ffe266;
      border-color: #ffe266;
      color: #354048!important;
    }
  }
  .el-button.is-plain:hover {
    background-color: #ffe266;
    border-color: #FFE266;
    color: #FFE266;
  }
}

.no-margin-bottom{
  margin-bottom: 0 !important;
}

.limit-menber-height {
  max-height: 207px;
  margin-bottom: 34px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.limit-menber-height::-webkit-scrollbar {
  width: 5px;
}
.limit-menber-height::-webkit-scrollbar-track {
  background-color:#EDEDED;
  border-radius: 5px;
}
.limit-menber-height::-webkit-scrollbar-thumb {
  background-color:#FFE266;
  border-radius: 5px;
}

.el-form-item {
  margin-bottom: 32px !important;
}

.form-submit-btn {
  width: 124px !important;
}

/*.el-dropdown-menu {
  max-height: 400px;
  overflow-y: scroll;
}*/

.el-dropdown-menu::-webkit-scrollbar {
  width: 5px;
}
.el-dropdown-menu::-webkit-scrollbar-track {
  background-color:#ffffff;
  border-radius: 5px;
}
.el-dropdown-menu::-webkit-scrollbar-thumb {
  background-color:#ffffff;
  border-radius: 5px;
}

.el-textarea__inner:focus {
  outline: 0;
  border-color: #d7ab70 !important
}

.el-input.is-active .el-input__inner,.el-input__inner:focus {
  border-color: #d7ab70 !important;
  outline: 0
}

.el-form-item.is-success .el-input__inner,.el-form-item.is-success .el-input__inner:focus,.el-form-item.is-success .el-textarea__inner,.el-form-item.is-success .el-textarea__inner:focus {
  border-color: #dcdcdc !important
}


.el-form-item.is-success .el-input__validateIcon {
  color: #dcdcdc !important
}

.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid #F5F7FA !important;
}

//时间选择器。需要设置class
.el_time_main {
  .el-date-table td.current:not(.disabled) span {
    background: #D7AB70;
  }

  .el-date-table td {
    &:hover{
      span {
        color: #929292
      }
    }
  }

  .el-date-table td.today span {
    color: #D7AB70;
  }

  .el-button--text {
    color: #D7AB70;
  }

  .el-date-picker__editor-wrap {
    .confirm {
      background: #FFE266;
      color: #333333;
      padding: 0 15px;
    }
  }
}

.el-table th>.cell {
  color: #666;
  font-weight: 400;
}

.zike-table-list .zike-dropdown .el-dropdown-link, .zike-table-list .zike-dropdown .el-icon-question{
  color: #666 !important;
  font-weight: 400;
}

.zike-table-list table td{
  color: #666666
}

.limit-select-dropdown-height {
  max-height:265px;
}

.limit-select-dropdown-height::-webkit-scrollbar {
  width: 4px;
}
.limit-select-dropdown-height::-webkit-scrollbar-track {
  background-color:#ffffff;
  border-radius: 4px;
}
.limit-select-dropdown-height::-webkit-scrollbar-thumb {
  background-color:#ffffff;
  border-radius: 4px;
}