#page-aside {
  > section {
    height: 100%;
    overflow: hidden;
    width: 200px;
    > div {
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      width: 217px;
    }
  }
  .logo {
    height: 130px;
    text-align: center;
    position: relative;
    .avatar-uploader {
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;
      &:hover{
        .company-logo {
          opacity: 1;
        }
      }
    }
    .company-logo {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      text-align: center;
      line-height: 80px;
      color: #fff;
      font-size: 20px;
      background: rgba(0,0,0,.7);
      opacity: 0;
      transition: all ease .5s;
      cursor: pointer;
      input {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 150px;
  }
  li {
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    transition: all ease .4s;
    font-size: 14px;
    &:hover {
      background:rgba(255,226,102,0.12);
    }
    .zike-icon {
      margin-right: 10px;
    }
  }
  .active {
    background:rgba(255,226,102,0.12);
    position: relative;
    a {
      color: #fff;
    }
    &:before {
      background: #FFE266;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      height: 100%;
      width:4px;
    }
    &:after {
      width: 0;
      height: 0;
      border-color: red;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent transparent #FFE266;
      display: block;
      content: '';
    }
  }
  a {
    text-decoration: none;
    color: #666;
    display: block;
    padding-left: 50px;
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
  }
  .avatar {
    display: block;
  }
  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    left: 0;
    top: 0;
    opacity: 0;
    transition: all ease .4s;
    z-index: 2;
    line-height: 80px;
    text-align: center;
    color: #fff;
    font-size: 30px;
  }
  .avatar {
    position: relative;
    z-index: 1;
  }
  .avatar-uploader:hover .mask {
    opacity: 1 !important;
  }
}